# docker-compose.yml (REVISI FINAL 2 - Perbaikan Secret Key 403)
version: '3.8'

services:
  airflow-webserver:
    build: .
    container_name: airflow_webserver
    depends_on:
      - airflow-init
    environment:
      - AIRFLOW__CORE__LOAD_EXAMPLES=false
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__WEBSERVER__SECRET_KEY=your_secret_key_here # SUDAH ADA
      - AIRFLOW_CONN_POSTGRES_MAIN=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
    ports:
      - "8080:8080"
    volumes:
      - ./dags:/opt/airflow/dags
      - ./scripts:/opt/airflow/scripts
      - ./data:/opt/airflow/data
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:8080/health"]
      interval: 10s
      timeout: 10s
      retries: 5
    command: webserver

  airflow-scheduler:
    build: .
    container_name: airflow_scheduler
    depends_on:
      - airflow-init
    volumes:
      - ./dags:/opt/airflow/dags
      - ./scripts:/opt/airflow/scripts
      - ./data:/opt/airflow/data
    environment:
      - AIRFLOW__CORE__LOAD_EXAMPLES=false
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW_CONN_POSTGRES_MAIN=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
      # --- BARIS PERBAIKAN ---
      # Pastikan scheduler punya key yang sama
      - AIRFLOW__WEBSERVER__SECRET_KEY=your_secret_key_here
    command: scheduler

  airflow-init:
    build: .
    container_name: airflow_init
    entrypoint: /bin/bash
    command:
      - -c
      - |
        mkdir -p /opt/airflow/logs /opt/airflow/plugins
        chown -R ${AIRFLOW_UID}:0 /opt/airflow/logs /opt/airflow/plugins /opt/airflow/dags /opt/airflow/scripts
        echo "Menjalankan db init..."
        airflow db init
        echo "Membuat user admin (jika belum ada)..."
        airflow users create -u admin -p admin -r Admin -e admin@example.org -f admin -l user || true
    environment:
      - AIRFLOW__CORE__LOAD_EXAMPLES=false
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
      # --- BARIS PERBAIKAN ---
      # Pastikan init punya key yang sama
      - AIRFLOW__WEBSERVER__SECRET_KEY=your_secret_key_here
    volumes:
      - ./dags:/opt/airflow/dags
      - ./scripts:/opt/airflow/scripts
      - ./data:/opt/airflow/data

  metabase:
    image: metabase/metabase:latest
    container_name: metabase_service
    ports:
      - "3000:3000"